<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Cluster</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body style="background-color: rgb(190, 72, 72);">
  <div class="container mt-5 w-75 bg-info">
    <div class="row">
      <div class="card">
        <h5 class="card-header">Clustering using CSV File</h5>
        <div class="card-body" style="background-color: lightseagreen;">
          <h5 class="card-title">Insert your Agglomerative Cluster  file and then download the Result </h5><br>
          <form action="/transformagglo" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" class="btn btn-block"/><br><br>
            <button type="submit" class="btn btn-warning btn-block btn-large">Agglomerative</button>
          </form> <br><br>
          <form action="/scoreagglo" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-success btn-lg btn-block">silhouettescore for Agglomerative</button>
          </form> 
           <br><hr style="font-weight: bold;">
           <h5 class="card-title">Insert your KMeans Cluster  file and then download the Result </h5><br>
        <form action="/transformKM" method="post" enctype="multipart/form-data">
          <input type="file" name="data_file" class="btn btn-block"/><br><br>
          <button type="submit" class="btn btn-danger btn-block btn-large">KMeans</button>
        </form>  <br><br>
        <form action="/scorekmeans" method="post" enctype="multipart/form-data">
          <button type="submit" class="btn btn-primary btn-lg btn-block">silhouettescore for KMeans</button>
        </form>  
        <br><hr style="font-weight: bold;">
        
          <h5 class="card-title">Insert your DBSCAN CSV file and then download the Result </h5><br>
          <form action="/transformdb" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" class="btn btn-block"/><br><br>
            <button type="submit" class="btn btn-danger btn-block btn-large">DBSCAN</button>
          </form>  <br><br>
          <form action="/scorekmeans" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary btn-lg btn-block">silhouettescore for DBSCAN</button>
          </form>  
          <br><hr style="font-weight: bold;">
          <form action="/graph" method="post" enctype="multipart/form-data">
            <input type="file" name="data_file" class="btn btn-block"/><br><br>
            <button name="class" class='btn btn-primary btn-lg btn-block'   value="kmeans"> K-Means Graph</button>&nbsp;&nbsp;

            <button name="class" class='btn btn-warning btn-lg btn-block'  value="agglomerative">Agglomerative Graph</button>&nbsp;&nbsp;
            <button name="class" class='btn btn-success btn-lg btn-block'  value="dbscan">DBSCAN Graph</button>
            </br>          </form> <br><br>
          <!--
          <form action="/score" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">silhouettescore for dbscab</button>
          </form>   <br><br>
          <form action="/plot" method="post" enctype="multipart/form-data">
          <button  type="submit" class="btn btn-primary btn-block btn-large">Plot</button>
      </form> 
      -->
          <hr style="font-weight: bold;">
          <form action="/defaults" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-success btn-block btn-large">Back</button>
        </form> 
       
        </div>
      </div>
    </div>
    <div style="font-size: 35px;font-weight: bold; text-align: center; background-color: rgb(136, 122, 136);">
      {{ prediction_text }}
     </div>
     <div>
      {{ prediction1_text }}
     </div>
     {{ image|safe }}
  </div>
</body>
</html>